@charset "utf-8";

/*
	Final Project 
		Home Page Style Sheet
	IS139 450
    Rachel Allen
    December 2022
	
	fp_style.css
	
*/

/* =============================================
	Base styles used by All Screens
   =============================================
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Zen+Dots&display=swap'); 


/* HTML Styles */
html {
	background: black url("flashlight.jpg") repeat-x fixed; 
	font-size: 1em; font-family: 'Zen Dots', Sans-serif, Fantasy;
	} 


/* Page Body Styles */
body {
	background: seagreen;
	color: white;
	margin: 0px auto;
	border-left: 1px solid black; border-right: 1px solid black;
	width: 75%; text-align: center;
   }

h2, p {
	font-family: 'Manrope', sans-serif;
	}

/* Body Header Styles */

body > header {
	background: white; width: 100%;
	}

img#logo {
	display: block;
	width: 100%;
	}
	
/* Body Styles */

h1#maintitle {
	font-weight: bold;
	}

h2#secondtitle {
	font-weight: bold; padding-bottom: 15px;
	}

p.bodytext, p.bodytextli {
	text-align: justify; margin: 15px;
	}

section.bodytextli::after {
  content: "";
  clear: both;
  display: block;
	}

/* Footer */
body > footer {
	background: white; color: black;
	}
	
footer p {
	text-align: center;
	display: flex;
	justify-content: center;
	}

/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/	
@media only screen and (min-width: 481px) {
	
/* Body Header Styles */
body > header {
	display: block;
	}
	
header > nav {
	display: block; width: 100%;
	}

nav#topLinks ul li {
	background-color: white;	
	display: block;
	float: left;
	text-align: center;
	width: 25%; 
	}

nav#topLinks ul li a {
	color: black;	
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;
	}
	

nav#topLinks a:hover, nav#topLinks a:active {
	color: white; background: seagreen;
	}
	
/* Body Styles */
p#links {
	display: none;
	}
	
h1#maintitle {
	font-size: 2em; line-height: 2.5em;
	}

h2#secondtitle {
	font-size: 1.5em; line-height: 2em; 
	}

p.bodytext, p.bodytextli {
	font-size: 1.2em; line-height: 1.4em;
	}
	
img#map {
	max-width: 400px; display: block; border-radius: 50%; 
	float: right; margin: 5px;
	}

/* Footer */
body > footer {
	display: block; width: 100%;
	}

nav#bottomLinks ul li {
   background: white;
   display: block;
   float: left;
   text-align: center;
   width: 33.3333333%;
   }

nav#bottomLinks ul a {
	color: black;
	display: block;
	height: 2em;
	text-align: center;
	line-height: 2em;
	}

nav#bottomLinks a:hover, nav#bottomLinks a:active {
	color: white; background: seagreen;
	}

footer p {
	width: 100%;
	font-size: 0.9em;
	margin: 0px;
	padding: 10px;
	background: seagreen;
	color: white;
	}
	
	}


/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
@media only screen and (max-width: 480px) {
	
/* Header Links */
nav#topLinks ul li {
   margin: 10px;
}

nav#topLinks ul li a {
   color: white;
   display: block;
   font-size: 1.2em;
   text-align: center;
   padding: 50% 0%;
}

nav#topLinks ul li a:hover, nav#topLinks ul li a:active {
	color: seagreen;
	text-shadow: 0px 0px 2px black, 0px 0px 15px white;}
	
nav#topLinks ul {
	display: flex; flex-flow: row wrap;
	}

nav#topLinks ul li {
	flex: 1 1 130px;
	}

li#home, li#contact {
	display: none;
	}
	
/* images free use from pixabay.com */

li#report {
	background: url(binoculars.jpg) center/contain no-repeat;
	}
    
li#faq {
	background: url(faq.jpg) center/contain no-repeat;
	}

/* Body & Footer Elements */

img#map {
	display: none;
	} 

nav#bottomLinks {
	display: none;
	}

p.bodytextli {
	display: none;
}
	
/* Contact Links */

p#links {
	display: flex; flex-flow: row nowrap;
	justify-content: space-around;
	} 

p#links a {
	background-color: rgb(121, 181, 148); color: black; 
	border-radius: 20px; padding: 10px; text-decoration: none; border: 2px solid black;
	}

/* Footer */
footer p {
	background: white; color: seagreen;
}
	
}




	




