@charset "utf-8";

/*
	Final Project 
		Recent Sightings Form Style Sheet 
	IS139 450
    Rachel Allen
    December 2022
	
	sighting-form-styles.css
	
*/


/* =============================================
	Base styles used by All Screens
   =============================================
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Zen+Dots&display=swap'); 


/* HTML Styles */
html {
	background: black url("flashlight.jpg") repeat-x fixed; 
	font-size: 1em; font-family: 'Zen Dots', Sans-serif, Fantasy;
	} 

/* Page Body Styles */
body {
	background: seagreen;
	color: white;
	margin: 0px auto;
	border-left: 1px solid black; border-right: 1px solid black;
	width: 75%; text-align: center;
   }

h2, p {
	font-family: 'Manrope', sans-serif;
	}

/* Body Header Styles */

body > header {
	background: white;
	}

img#logo {
	display: block;
	width: 100%;
	}

/* Form Styles */
h1 {
	font-weight: bold; font-size: 2em; line-height: 2.5em;
	}

form#sightings {
	display: flext;
	flex-flow: row wrap;
	}

form#sightings > fieldset {
	background: rgb(121, 181, 148);
	border-radius: 10%;
	flex: 1 1 300px;
	font-size: 1.2em;
	padding: 20px;
	margin: 20px;
	border: black;
}

div.line {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.line > * {
	flex: 1 1 150px;
}


/* Legend Style */
legend {
	background: white;
	color: black;
	padding: 5px;
	border-radius: 10%;
}

/* Text Area */
textarea {
	margin-top: 10px; height: 100px; width: 80%;
}


/* Buttons */
div#buttons {
text-align: center; width: 100%;}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em; padding: 5px; margin: 15px;
}


/* Validation Styles */
input:focus, textarea:focus {background: rgb(237,237,255);}

input:not(:focus):not(:placeholder-shown):not([type="submit"]):not([type="reset"]):valid {
  background: rgb(234, 255, 234);}

input:not(:focus):not(:placeholder-shown):not([type="submit"]):not([type="reset"]):invalid {
  background: rgb(255,223,223);
}

/* Footer */
body > footer {
	background: white; color: black;
	}
	
footer p {
	text-align: center;
	display: flex;
	justify-content: center;
	}
	
/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/
@media only screen and (min-width: 481px) {
/* Body Header Styles */
body > header {
	display: block; width: 100%;
	}
	
header > nav {
	display: block; width: 100%;
	}

nav#topLinks ul li {
	background-color: white;	
	display: block;
	float: left;
	text-align: center;
	width: 25%; overflow: hidden;
	}

nav#topLinks ul li a {
	color: black;	
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;
	}
	
nav#topLinks a:hover, nav#topLinks a:active {
	color: white; background: seagreen;
	}

/* Footer */
body > footer {
	display: block; width: 100%;
	}

nav#bottomLinks ul li {
   background: white;
   display: block;
   float: left;
   text-align: center;
   width: 33.3333333%;
   }

nav#bottomLinks ul a {
	color: black;
	display: block;
	height: 2em;
	text-align: center;
	line-height: 2em;
	}

nav#bottomLinks a:hover, nav#bottomLinks a:active {
	color: white; background: seagreen;
	}

footer p {
	width: 100%;
	font-size: 0.9em;
	margin: 0px;
	padding: 10px;
	background: seagreen;
	color: white;
	}
	
}

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
@media only screen and (max-width: 480px) {

/* Header Links */
li#report, li#faq, li#contact, nav#bottomLinks {
	display: none;
}

li#home {
	width: 100%;
}

nav#topLinks a:hover, nav#topLinks a:active {
	color: white; background: seagreen;
	}

/* Footer */
footer p {
	background: white; color: seagreen;

}